.peep_share {
  display: inline-block;
  font-family: sans-serif;
  margin-right: 10px;
  font-size: 13px;
}
.peep_share .label, .peep_share .count {
  display: inline-block;
  padding: 0 8px;
  border: 1px solid #ddd;
  height: 26px;
  line-height: 26px;
  font-weight: bold;
}
.peep_share .label {
  background: #fff;
  color: #999;
  text-decoration: none;
}
.peep_share .label:hover {
  background: #eee;
  color: #333;
}
.peep_share .count {
  background: #ddd;
  color: #333;
}