.peep_share {
  display: inline-block;
  font-family: sans-serif;
  margin-right: 10px;
  font-size: 13px;
}
.peep_share .label, .peep_share .count {
  display: inline-block;
  padding: 0 8px;
  border: 1px solid #ddd;
  height: 25px;
  line-height: 25px;
}
.peep_share .label {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}
.peep_share .label:hover {
  background: #f7f7f7;
}
.peep_share .count {
  background: #ddd;
}