.peep_share {
	display: inline-block;
	font-family: sans-serif;
	margin-right: 10px;
	font-size: 13px;
}
.peep_share .label, .peep_share .count {
	display: inline-block;
	padding: 0 8px;
	border: 1px solid #ddd;
	font-weight: bold;
}
.peep_share .label {
	background: #fff;
	color: #999;
	text-decoration: none;
  	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height: 26px;
	line-height: 26px;
}
.peep_share .label:hover {
	background: #eee;
	color: #333;
}
.peep_share .count {
	background: #ddd;
	color: #333;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	font-size: 11px;
	height: 16px;
	line-height: 16px;
}



.peep_share.twitter .label{
	background: #5babe4; /* Old browsers */
	background: -moz-linear-gradient(top,  #5babe4 0%, #1d68a7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5babe4), color-stop(100%,#1d68a7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5babe4 0%,#1d68a7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5babe4 0%,#1d68a7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5babe4 0%,#1d68a7 100%); /* IE10+ */
	background: linear-gradient(top,  #5babe4 0%,#1d68a7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5babe4', endColorstr='#1d68a7',GradientType=0 ); /* IE6-9 */
	border: 1px solid #1d4a70;
	-moz-box-shadow: inset 0 1px 0 #bdddf4;
	-webkit-box-shadow: inset 0 1px 0 #bdddf4;
	box-shadow: inset 0 1px 0 #bdddf4;
	color: #fff;
	text-shadow: 0 -1px 0 #1d4a70;
}

.peep_share.twitter .label:hover{
	background: #79c0f3; /* Old browsers */
	background: -moz-linear-gradient(top,  #79c0f3 0%, #1d68a7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#79c0f3), color-stop(100%,#1d68a7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #79c0f3 0%,#1d68a7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #79c0f3 0%,#1d68a7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #79c0f3 0%,#1d68a7 100%); /* IE10+ */
	background: linear-gradient(top,  #79c0f3 0%,#1d68a7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#79c0f3', endColorstr='#1d68a7',GradientType=0 ); /* IE6-9 */
}

.peep_share.facebook .label{
	background: #3b5998; /* Old browsers */
	background: -moz-linear-gradient(top,  #3b5998 0%, #273b66 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b5998), color-stop(100%,#273b66)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3b5998 0%,#273b66 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3b5998 0%,#273b66 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3b5998 0%,#273b66 100%); /* IE10+ */
	background: linear-gradient(top,  #3b5998 0%,#273b66 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b5998', endColorstr='#273b66',GradientType=0 ); /* IE6-9 */
	border: 1px solid #1c2b4a;
	-moz-box-shadow: inset 0 1px 0 #b1bdd6;
	-webkit-box-shadow: inset 0 1px 0 #b1bdd6;
	box-shadow: inset 0 1px 0 #b1bdd6;
	color: #fff;
	text-shadow: 0 -1px 0 #1c2b4a;
}

.peep_share.facebook .label:hover{
	background: #5070b3; /* Old browsers */
	background: -moz-linear-gradient(top,  #5070b3 0%, #273b66 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5070b3), color-stop(100%,#273b66)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5070b3 0%,#273b66 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5070b3 0%,#273b66 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5070b3 0%,#273b66 100%); /* IE10+ */
	background: linear-gradient(top,  #5070b3 0%,#273b66 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5070b3', endColorstr='#273b66',GradientType=0 ); /* IE6-9 */
}

.peep_share.linkedin .label{
	background: #72b7da; /* Old browsers */
	background: -moz-linear-gradient(top,  #72b7da 0%, #4393bb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#72b7da), color-stop(100%,#4393bb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #72b7da 0%,#4393bb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #72b7da 0%,#4393bb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #72b7da 0%,#4393bb 100%); /* IE10+ */
	background: linear-gradient(top,  #72b7da 0%,#4393bb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72b7da', endColorstr='#4393bb',GradientType=0 ); /* IE6-9 */
	border: 1px solid #265871;
	-moz-box-shadow: inset 0 1px 0 #c7e2f0;
	-webkit-box-shadow: inset 0 1px 0 #c7e2f0;
	box-shadow: inset 0 1px 0 #c7e2f0;
	color: #fff;
	text-shadow: 0 -1px 0 #265871;
}

.peep_share.linkedin .label:hover{
	background: #a0d5ef; /* Old browsers */
	background: -moz-linear-gradient(top,  #a0d5ef 0%, #4393bb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a0d5ef), color-stop(100%,#4393bb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a0d5ef 0%,#4393bb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a0d5ef 0%,#4393bb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a0d5ef 0%,#4393bb 100%); /* IE10+ */
	background: linear-gradient(top,  #a0d5ef 0%,#4393bb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0d5ef', endColorstr='#4393bb',GradientType=0 ); /* IE6-9 */
}

.peep_share.googleplus .label{
	background: #e64522; /* Old browsers */
	background: -moz-linear-gradient(top,  #e64522 0%, #b92b24 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e64522), color-stop(100%,#b92b24)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e64522 0%,#b92b24 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e64522 0%,#b92b24 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e64522 0%,#b92b24 100%); /* IE10+ */
	background: linear-gradient(top,  #e64522 0%,#b92b24 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e64522', endColorstr='#b92b24',GradientType=0 ); /* IE6-9 */
	border: 1px solid #8b2008;
	-moz-box-shadow: inset 0 1px 0 #f5b5a7;
	-webkit-box-shadow: inset 0 1px 0 #f5b5a7;
	box-shadow: inset 0 1px 0 #f5b5a7;
	color: #fff;
	text-shadow: 0 -1px 0 #8b2008;
}

.peep_share.googleplus .label:hover{
	background: #f96241; /* Old browsers */
	background: -moz-linear-gradient(top,  #f96241 0%, #b92b24 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f96241), color-stop(100%,#b92b24)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f96241 0%,#b92b24 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f96241 0%,#b92b24 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f96241 0%,#b92b24 100%); /* IE10+ */
	background: linear-gradient(top,  #f96241 0%,#b92b24 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f96241', endColorstr='#b92b24',GradientType=0 ); /* IE6-9 */
}

.peep_share.delicious .label{
	background: #69a4f7; /* Old browsers */
	background: -moz-linear-gradient(top,  #69a4f7 0%, #3274d1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#69a4f7), color-stop(100%,#3274d1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #69a4f7 0%,#3274d1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #69a4f7 0%,#3274d1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #69a4f7 0%,#3274d1 100%); /* IE10+ */
	background: linear-gradient(top,  #69a4f7 0%,#3274d1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69a4f7', endColorstr='#3274d1',GradientType=0 ); /* IE6-9 */
	border: 1px solid #104590;
	-moz-box-shadow: inset 0 1px 0 #bdddf4;
	-webkit-box-shadow: inset 0 1px 0 #bdddf4;
	box-shadow: inset 0 1px 0 #bdddf4;
	color: #fff;
	text-shadow: 0 -1px 0 #104590;
}

.peep_share.delicious .label:hover{
	background: #8fbeff; /* Old browsers */
	background: -moz-linear-gradient(top,  #8fbeff 0%, #3274d1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8fbeff), color-stop(100%,#3274d1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8fbeff 0%,#3274d1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8fbeff 0%,#3274d1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8fbeff 0%,#3274d1 100%); /* IE10+ */
	background: linear-gradient(top,  #8fbeff 0%,#3274d1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fbeff', endColorstr='#3274d1',GradientType=0 ); /* IE6-9 */
}

.peep_share.pinterest .label{
	background: #E95163; /* Old browsers */
	background: -moz-linear-gradient(top,  #E95163 0%, #D43638 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E95163), color-stop(100%,#D43638)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #E95163 0%,#D43638 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #E95163 0%,#D43638 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #E95163 0%,#D43638 100%); /* IE10+ */
	background: linear-gradient(top,  #E95163 0%,#D43638 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E95163', endColorstr='#D43638',GradientType=0 ); /* IE6-9 */
	border: 1px solid #910101;
	-moz-box-shadow: inset 0 1px 0 #F28F9C;
	-webkit-box-shadow: inset 0 1px 0 #F28F9C;
	box-shadow: inset 0 1px 0 #F28F9C;
	color: #fff;
	text-shadow: 0 -1px 0 #910101;
}

.peep_share.pinterest .label:hover{
	background: #f87282; /* Old browsers */
	background: -moz-linear-gradient(top,  #f87282 0%, #D43638 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f87282), color-stop(100%,#D43638)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f87282 0%,#D43638 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f87282 0%,#D43638 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f87282 0%,#D43638 100%); /* IE10+ */
	background: linear-gradient(top,  #f87282 0%,#D43638 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f87282', endColorstr='#D43638',GradientType=0 ); /* IE6-9 */
}

.peep_share .count{
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}